<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.derasd.whosdacook"
    android:versionCode="2"
    android:versionName="0.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.derasd.whosdacook.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.derasd.whosdacook.SetInputActivity"
            android:label="@string/title_activity_input"
            android:parentActivityName="com.derasd.whosdacook.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.derasd.whosdacook.MainActivity" />
        </activity>
        <activity
            android:name="com.derasd.whosdacook.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".UserSettingActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.derasd.whosdacook.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.derasd.whosdacook.MainActivity" />
        </activity>
    </application>

</manifest>